/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;;
    display: block;
}

/* COMMON */
body {
    font-family: "Roboto";
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.section {
    height: 550px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

/* Help Button */
.help {
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 20%;
}

/* Green Buttons */
.button {
    display: inline-block;
    padding: 20px 20px;
    background-color: #7cbb02;
    border: 1px solid #548a21;
    border-radius: 5px;
}


/* HEADER */
header {
    background-color: #0c325a;
    background-image: url('../img/background-header.png');
    background-size: 900px;
    background-repeat: no-repeat;
    background-position: 115% 110%;
    position: relative;
}

.nav-text {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
}

.header-logo {
    width: 10%;
    padding-top: 10px;
}

.header-firstmenu {
    width: 50%;
    margin-top: 25px;
}

.header-secondmenu {
    width: 40%;
    margin-top: 20px;
}

.header-firstmenu, .header-secondmenu {
    text-align: center;
}

/* Login Button */
.login {
    display: inline-block;
    border: 1px solid white;
    padding: 10px 25px;
    border-radius: 5px;
}

/* Second Menu Green Button */
.header-secondmenu .button {
    padding: 10px 20px;
}

/* First Menu Elements Settings */
nav ul li {
    display: inline-block;
    list-style-type: none;
    padding-left: 20px;
}

/* Hover on the Nav First Menu Elements */
.header-firstmenu ul li a:hover {
    color: yellow;
}

/* Title */
.title {
    color: white;
    width: 40%;
    position: absolute;
    bottom: 160px;
    left: 130px;
}

.title h1 {
    font-size: 40px;
}

.title .button {
    margin-top: 20px;
}

/* MAIN */
/* Grey Half Section */
.half-section {
    background-color: #d3d3d3;
    text-align: center;
    padding: 40px;
}

.half-section h2 {
    padding-bottom: 10px;
}

.half-section h4 {
    color: #808080;
}

/* First Section */
.first-section .col {
    width: 30%;
    height: 100%;
    text-align: center;
}

.col-center {
    margin: 0 5%;
}

/* IMG Container */
.img-container {
    width: 60%;
    height: 30%;
    margin: auto;
    object-fit: contain;
    margin-top: 50px;
}

.img-container img {
    height: 100%;
}

/* Columns Titles */
.col h2 {
    margin-top: 20px;
    font-size: 22px;
    color: #7cbb02;
}

.col hr {
    margin: 30px 120px;
}

/* Columns Text */
.col p {
    font-size: 15px;
    color: #828282;
}

.col h2, p {
    line-height: 28px;
}





